@font-face {
	font-family: 'wendy';
	src: url('/game-off-2013/fonts/wendy.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	font-family: sans-serif;
	background-image: url('../images/background.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #000;
	color: #fff;
}

canvas {
	border: 2px solid #000;
}

.content {
	width: 100%;
	text-align: center;
}

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #6CBEEC;
}

a:hover {
	text-decoration: underline;
}

#game {
	margin-top: 20px;
}

.description {
	margin: 0 auto;
	width: 912px;
}

footer {
	font-size: 12px;
}